<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>CognoSpeak</h2>
                <p>An easy-to-use tool for automatic cognitive assessment</p>
    <!--            <ul class="actions">
                    <li><a href="#content" class="button big
        special">Worried about your memory?</a></li>
                    <li><a href="#elements" class="button big
        alt">Interested in the research?</a></li> -->
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
